<h2>Car Washes</h2>
<% @car_washes.each do |car_wash| %>


<ul><%= link_to car_wash.name, car_wash %></ul>


<% end %>
<%= link_to "Create New Car Wash", new_car_wash_path, class: "btn btn-primary" %>
