// styles.scss

$body-font: Arial, sans-serif;
$primary-color: #ff5a5f;
$background-color: #f8f8f8;

.car_wash_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.car-washes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px; // Add padding to the sides of the container
}

.car-wash {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  width: calc(33.33vw - 40px); // Make each card 1/3 of the viewport width with padding
  padding: 20px; // Add padding inside each card
}

img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.car-wash-details {
  padding: 20px;
}

.car-wash-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-wash-location {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.btn-primary {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.price-list {
  margin-bottom: 20px;
}

.price-list p {
  margin-bottom: 5px;
}

.price-list strong {
  margin-right: 10px;
}

.show-image{
  width: 600px;
  height: auto;
}

.btn-danger {
  background-color: #dc3545; /* Red color for delete button */
  color: #fff; /* White text color */
}

.btn-primary {
  background-color: #007bff; /* Blue color for back button */
  color: #fff; /* White text color */
}

.btn-success {
  background-color: #28a745; /* Green color for book button */
  color: #fff; /* White text color */
}

.btn {
  display: inline-block;
  padding: 8px 16px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition effect */
  margin-right: 10px; /* Add margin between buttons */
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
