.container {
  max-width: 600px; /* Adjust max width as needed */
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9; /* Set background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.car-washes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px; // Add padding to the sides of the container
}

.car-wash {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  width: calc(33.33vw - 40px); // Make each card 1/3 of the viewport width with padding
  padding: 20px; // Add padding inside each card
}

img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.car-wash-details {
  padding: 20px;
}

.car-wash-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-wash-location {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price-list {
  margin-bottom: 20px;

}

.price-list p {
  margin-bottom: 5px;
}

.price-list strong {
  margin-right: 10px;
}

.show-image{
  width: 600px;
  height: auto;

}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Add border for input fields */
  border-radius: 5px; /* Add border radius for rounded corners */
  font-size: 1rem; /* Adjust font size as needed */
}

.form-label {
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: 600; /* Use a semi-bold or bold weight */
}

.form-submit {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.car-wash-name h1{
  font-size: 4rem;
  margin-bottom: 15px;
}

.location-show{
  margin-top: 20px;
  font-size: 18px;
}

.description p{
  font-weight: 100;
}

.edit-form{
  // margin: 50px 500px;
  background-color: #fff;
  border-radius: 3%;

}

.edit-name{
  text-align: center;
}
.edit-card{
  background-color: #00253E;
  // border-radius: 10%;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // width:auto ,200px;
}

.buttons-side-by-side{
  display:flex;
  gap: 12px;
}
.form-submit:hover {
  background-color: #0056b3; /* Set hover background color for submit button */
}
