<h1>Appointments</h1>

<ul>
<% @appointments.each do |appointment| %>
<%= appointment.date, car_wash_appointments_path %> #index appointment not working after added approve method
  </ul>

  <%  if(!current_user.owner) %>
    <%= link_to "Approve",  , method: :post, class: "btn btn-primary" %> //to ask how to call method approve in appointment controller
    <%= link_to "decline", , method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Delete", car_wash_appointment_path(appointment.car_wash.id,appointment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
     //to check why delete path is not working
      <% end %>
<% end %>
