<h1>Appointments</h1>


<% @appointments.each do |appointment| %>
<div class="card text-center">
  <div class="card-body ">
<ul>
<%= appointment.date %>
<%= link_to "Approve", method: :post,class: "btn btn-primary" %>
<%= link_to "Delete", appointment_path(appointment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?" }, class: "btn btn-danger"%>
  </ul>

  </div>
</div>


<% end %>
