<h1>Appointments</h1>

<ul>
<% @appointments.each do |appointment| %>
<%= appointment.date, car_wash_appointments_path %> #index appointment not working after added approve method
  </ul>


    <%= link_to "Delete", car_wash_appointment_path(appointment.car_wash.id,appointment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
     //to check why delete path is not working
      <% end %>
<% end %>
