<h2>Your Cars</h2>
<div class="card-container">
  <% @cars.each do |car| %>
    <div class="card">
      <div class="card-body">
        <%= link_to "#{car.brand} #{car.year} - #{car.car_type}", car, class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>
